html, body {
    height: 100%; /* Required for table to fill height */
}

#navbar {
    border: 1px solid black;
    width: 100%;
    height: 7%;
}

#navbar td {
    border: 1px solid black;
}

/* Style the navigation bar links. */
.pagebox .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons
                       (see below) */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* top and bottom: 14px; left and right: 20px; */
    text-decoration: none; /* Remove underline */
}

/* Left-aligned link. */
.pagebox .navbar a.left {
    float: left; /* Float a link to the left */
}

/* Right-aligned link. */
.pagebox .navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over. */
.pagebox .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}


#content {
    border: 1px solid black;
    width: 100%;
    height: 90%;
    table-layout: fixed;
}

#content #sidetab {
    border: 1px solid black;
    width: 1%;
}

#sidetab div {
    transform: rotate(-90.0deg);
    border: 1px solid black;
}

#content #treeid {
    border: 1px solid black;
    width: 19%;
}

#content #editid {
    border: 1px solid black;
    width: 80%;
}

#statusbar {
    border: 1px solid black;
    width: 100%;
    height: 3%;
}

#statusbar td {
    border: 1px solid black;
}
