/*
  Scrolling Text
  Adapted from:
      http://www.html.am
      /html-codes/marquees/css-scrolling-text.cfm
  Reference:
      https://developer.mozilla.org
      /en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
*/
:root {
  --text-color: brown;
}

.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: var(--text-color);
}

.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 5s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
    0%   {
        transform: translateX(60%);
        /*transform: translateX(var(--marquee-window-size));*/
    }
    100% {
        transform: translateX(-60%);
        /*transform: translateX(-var(--marquee-window-size));*/
    }
}
