.handler {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.handler::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
}
